[Desktop Entry]
Type=Application
StartupNotify=true
X-GNOME-Autostart-enabled=true
Name=Redshift
GenericName[fr]=Ajustement de la température de couleur
Comment[da]=Justeringsværktøj for farvetemperatur
Categories=Utility;
Hidden=false
Exec=redshift-gtk
Version=1.0
GenericName[da]=Justering af farvetemperatur
Icon=redshift
Comment=Color temperature adjustment tool
Terminal=false
GenericName=Color temperature adjustment

